input{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(227, 227, 227);
    width: 50%;
    height: 50px;
    font-size: large;
    color: gray;
    
    margin-bottom: 10px ;
  }
  .card{
    margin-left:30%;
    margin-top: 5%;
  }